/*DEFAULT STRUCTURE*/
body{
    background-color: #E6E6E6;
    font-size: 1em;
}
p {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}
/*WHITE BACKGROUND LOGO*/
.line-background{
    height: 5em;
    background-color: #F0F0F0;
    margin-top: 2em;}
.left-nav{
    top: 1em;
    margin-right: 5em;
}

.right-nav {
    display: flex;
    justify-content:space-evenly;
    top: 1.5em;
}

/*HIDE NAV LINKS WHEN ENLARGED*/
.hideme *{
    display: none;
}
.small-links *{
    display: none;}
/*--------------------------*/

/*LOGO SIZE*/
.logo-size>img{
    height: 10em;}


.logo-size {
    text-align: center;
}

.hide-codeup{
    display: none;

}
/*TURN OFF STYLING FOR NAV LINKS*/
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.from-park-city *{
    margin-top: 1em;
    text-align: center;
}
/*FOUR CIRCLES*/
.circle {
    border-radius: 50%;
    background-color: red;
    border: .5em white solid;
    height: 9em;
    width: 9em;
    margin:0 0 .5em 0;
}
/*CIRCLE COLORS*/

#red{
    background-color: #e6563b;
}
#orange{
    background-color: #eb9d3a;

}
#green{
    background-color: #7cb06c;
}
#teal{
    background-color: #00aba9;
}
/*-------------------*/
.from-park-city{
    margin-bottom: 2em;
}

.circle-holder{
    /*display: flex;*/
    justify-content: center;
}
.visual-design{
    text-align: center;
}
.selected-work{
    margin: 5em 0 1.5em 0;
    text-align: center;
}
#hide-all-small {
    display: none;
}
#hide-main-nav{
    display: none;
}
.selected-work{
    display: none;
}
/*VERY SMALL SCREEN TRANSITION*/
@media screen and (max-width:425px){

    .container{
        position: fixed;
        margin: 0;
        top: 0;
    }
    .show-large{display: none}

    .hideme *{
        display: flex;
    }
    .very-small-links{
        justify-content: space-evenly;
        margin: 1em 0 1em 0;
    }
    .hide-codeup{
        display: flex;
        justify-content: center;
    }

    .main-nav *, .large-screen{
        display: none;
    }
    .visual-design,.from-park-city{
        font-family: anton;
        text-align: center;
    }
    .apple-ipad img {
        display: revert;
        width: 350px;
        height: 200px ;
    }
    .featured-project{
        margin-top: 1.5em;
    }
    .circle-2 {
        border-radius: 50%;
        height: 18px;
        width: 18px;
        margin-top: 1.5em;
        margin-left: 1em;
}
    #hide-all-small {
        display: revert;
    }
    .selected-work{
        display: revert;
    }
}
/*SMALL SCREEN TRANSITION*/
@media screen and (min-width: 768px) and (max-width:800px ) {
    .separator {
        border-bottom: 1px solid #bebebe;
        width: 90%;
    }

    .container {
        position: fixed;
        margin: 0;
        top: 0;
    }

    .hide-on-large{display: revert}
    .show-large{display: none}
    .small-links {
        position: fixed;
        top: 3.5em;
        width: 100%;
    }

    .small-links * {
        display: inline-flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .middle-container {
        margin-left: 2em;
    }

    .hide-codeup {
        display: revert;
        margin-bottom: 2em;
    }

    #codeup-holder {
        display: flex;
        justify-content: center;

    }

    .main-nav *, .large-screen{
        display: none;
    }

    #hide-all-small {
        display: revert;
    }

    .featured-project {
        display: none;
    }

    .circle-2 {
        display: none;
    }

    .image-left {
        margin:0 1em 0 1em;
    }
    .image-right {
        margin: 0 1em 0 1em;

    }
    .circle-3-holder {
        display: flex;
        justify-content: flex-start;
    }

    .circle-3 {
        border-radius: 50%;
        height: 18px;
        width: 18px;
        margin-top: 1.5em;
        margin-left: .5em;

    }
}
/* Large Screen Viewport */
@media screen and (min-width: 992px){
    .container {
        width: 80%;
    }
    .navbar {
        background-color: #F0F0F0;
        height: 65px;
    }
    #small-nav,#nav-top {
        display: none;
    }
    .logo-size {
        height: 105px;
        width: 105px;
        margin-right: 0.5em;
    }
    .brand {
        font-size: 24px;
        margin: auto;
    }
    h3 {
        font-weight: bolder;
        font-size: 64px;
        margin-bottom: 32px;
    }
    h6 {
        /*font-weight: bolder;*/
    }
    .badges {
        margin: auto;
    }
    .circle-holder {
        padding: 0 0 0 2em;
        width: 80%;
    }
    .circle-row {
        margin: auto;
    }
    hr.separator {
        border-bottom: 1px solid #bebebe;
        width: 90%;
    }
    #last-container {
        width: 80%;
    }
    .thumbnails-lg {
        border: 2.5px solid #bebebe;
        height: 140px;
        width: 230px;
        margin-bottom: 1em;
    }
    .thumbnail-sm {
        border: 0.5px solid #bebebe;
        height: 50px;
        width: 50px;
    }
    .tweet {
        padding-left: 10px;
        margin: 0.50em 0 0;
    }
}






































