:root {
    --moz-border-radius:4px;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
#mInfo {
    color: #3a0ca3;
    background:#bfd7ff;
    max-width: 39%;
    margin: 7px auto;
    border:  0.5px solid lightgray;
    border-radius: var(--moz-border-radius);
    padding: 9px;
}

#mSuccess{
    color: #2D6A4F;
    background: #b7e4c7;
    max-width: 39%;
    margin: 7px auto;
    border: 0.5px solid lightgray;
    border-radius: var(--moz-border-radius);
    padding: 9px;
}

#mWarning{
    color: #b69121;
    background: #FFF7D6;
    max-width: 39%;
    margin: 7px auto;
    border: 0.5px solid lightgray;
    border-radius:var(--moz-border-radius);
    padding: 9px;
}

#mError{
    color: #6a040f;
    background: #FFC2CD;
    max-width: 39%;
    margin: 7px auto;
    border: 0.5px solid lightgray;
    border-radius:var(--moz-border-radius);
    padding: 9px;
}