/*#map {width: 87em;height: 22em}*/
#map {
    width: 100%;
    height: 50em;
}
#stripe{
    background: hsla(0,0%,100%,0.2) ;
    backdrop-filter: blur(.1em);
}
canvas{
    border-radius: 1em;
    background: hsla(0,0%,100%,0.2) ;
    backdrop-filter: blur(1em);
}
#insert-card{
    text-align: center;
}
.card{
    color: white;
    border-radius:2em;
    height: auto;
    width: 50%;
    /*"hue saturation lightness[alpha]" for transparency effect */
    background: hsla(0,0%,100%,0.2) ;
    backdrop-filter: blur(.1em);
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}
.card:hover{
    transform: scale(1.06);
    cursor: none;
}
#city:hover{
    cursor: pointer;
}
#hide-music{
    cursor: pointer;
}
#icon-play{
    cursor: pointer;
}
body{
    background: linear-gradient(-50deg, #48bfe3,#283593, rgb(224, 84, 8), rgba(255, 183, 0, 0.3));
    background-size: 500% 500% ;
    animation: gradient 25s ease infinite;
    height: 100vh;
}
#input{

    color: white;
    opacity: 100%;
    font-weight: bolder;
    background: linear-gradient(-50deg, #48bfe3,#283593, rgb(224, 84, 8), rgba(255, 183, 0, 0.3));
    background-size: 500% 500% ;
    animation: gradient 25s ease infinite;
    height: 3vh;
}
@keyframes gradient {
    0% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 0% ;
    }

    100% {
        background-position: 100% 100% ;
    }
}
#geocoder-container > div {
    min-width: 50%;
    margin-left: 25%;
}
.hidden{
    display: none;
}