/** LOGO
*********************************/
.logo {
    padding: 1em;
    color: red;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0.5em;
}
.remove-btn {
    border: none;
    border-radius: 5px;
    text-align: center;
}
.remove-btn:hover {
    background-color: #d01036;
    color: white;
}
/** THE SLIDER CONTAINER
*********************************/
#movie-list {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: calc(var(--slider-py) - 100px);
    padding-bottom: var(--slider-py);
    height: 35em;
}
/** CARDS
*********************************/
.card {
    width: 20em;
    margin: 5px;
    text-align: center;
    align-items: center;
    background-color: #000;

}

.movie {
    width: var(--movie-width);
    height: var(--movie-height);
    display: inline-block;
    position: relative;
    color: white;
    padding: 0 2px;
    font-size: 0.8rem;
    transition: all 0.8s ease-in-out;
}
.movie:hover {
    transform: scale(1.3);
    z-index: 2;
}
.movie img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
.card-body {
    position: absolute;
    display: none;
    z-index: 9999;
    /*background-color: #000;*/
    background: hsla(0,0%,100%,.06) ;
    backdrop-filter: blur(1em);
    width: calc(var(--movie-width) - 5px);
    /*width: 100%;*/
    /*margin-top: -10px;*/
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*border-radius: .3em;*/

}
/* Make description visible when movie is hovered */
.movie:hover > .card-body {
    display: block;
}
/*
*
* BUTTONS
*
*********************************/
.btn-nav {
    width: var(--arrow-width);
    height: var(--movie-height);
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    color: white;
    top: var(--slider-py);
    z-index: 5;
    visibility: hidden;
}
#moveLeft {
    left: 0;
    top: 380px;
}
#moveRight {
    right: 0;
    top: 380px;
}
.bucket:hover .btn-nav {
    visibility: visible;
}
/** LOADING ANIMATION
*********************************/
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear;
}
@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}
.ring:before {
    position: absolute;
    align-self: center;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255,.3);
}
.load-message {
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 100px;
    animation: test 3s ease-in-out linear infinite;
}
@keyframes text {
    50%{
        color: #000;
    }
}
/*-----add/edit button-----*/
.searchbar{
    position: absolute;
    height: auto;
    background: hsla(0,0%,1%,.06) ;
    backdrop-filter: blur(10em);
    border-radius: .5em;
    padding: 1em;
}
.search_input{
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    transition: 0.9s linear;
}
.searchbar:hover > .search_input{
    width: 4em;
    caret-color:red;
    transition: .4s linear;
}
#sort-type, #genre-select{
    position: relative;
    background: hsla(0,0%,100%,.06) ;
    border: none;
}
/*----------Small Screen-----------------------*/
@media screen and (max-width:767px){
    span{
        font-size: 1.85em;
    }
    .searchbar{
        padding: .3em;
    }
    #sort-container{
        font-size: .7em;
    }
}
/*-----------------------------------------------*/
body{
    height: 100vh;
    width: 100%;
    /*background-color: #262626;*/
    background: linear-gradient(45deg,black, rgba(1, 65, 1, 0.47),
    #26558c, rgba(2, 2, 59, 0.35), rgba(0, 0, 0, 0.36));
    background-size: 2000% 2000% ;
    animation: gradient 60s ease-in-out infinite;
}
@keyframes gradient {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 10% ;
    }

    100% {
        background-position: 100% 0% ;
    }
}
select,body{
    color: white;
}